/* Agrega un comentario aquí para explicar la función del selector body */
body {
    /* Este atributo es para definir la fuente */
    font-family: sans-serif;
    /* Agrega un comentario aquí para explicar el atributo margin */
    margin: 0;
    /* Este atributo sirve para dar un fondo con una degradacion el cuerpo de la pagina */
    background: linear-gradient(blue, pink);
   
    
}

/*  selector .contenedor nos permite agrupar y aplicar cambios a todos los elementos dentro del mismo */
.contenedor {
    /* el atributo display permite alteral las dimenciones de los elementos dentro del contenedor   */
    display: flex; 
    /*  el atributo flex-wrap permite controlar el desbordamiento de los elementos*/
    flex-wrap: wrap; 
    /*  el atributo justify-content permite alinear el contenido dentro del contenedor*/
    justify-content: space-around; 
    
    /* Crea una margen interno */
    padding: 20px;
    
    
}
/* la función del selector .tarjeta sirve para aplicar cambios a todos los elementos denominados con esta etiqueta*/
.tarjeta {
    /*el atributo width sirve para establecer el ancho del elemento */
    width: 300px; 
    /*el atributo margin permite establecer una margen exterior */
    margin: 10px; 
    /* el atributo border permite agregar un borde al elemento, se puede establecer el tipo y el color*/
    border: 1px solid #860d0d; 
    /* atributo padding crea una margen externa*/
    padding: 20px; 
    /* el atributo border-radius ayuda a redondear las esquinas */
    border-radius: 5px; 
    /* el atributo box-shadow permite agregar efectos de sombra en al rededor del marco*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
/* la función del selector .tarjeta img sirve para aplicar cambios a todos los elementos denominados con esta etiqueta */
.tarjeta img {
    /* el atributo width sirve para establecer el ancho del elemento */
    width: 100%; 
    /* el atributo height sirve para estabelecer el alto del elemento, cuando se utiliza en auto se ajusta al tamaño del container */
    height: auto; 
    /*  el atributo display block ayuda a que los elementos respeten los anchos y altos y las margenes */
    display: block; 
    /* el atributo border-radius ayuda a redondear las esquinas  */
    border-radius: 5px 5px 0 0; 
}
/* el selector .tarjeta h3 sirve para aplicar cambios a todos los elementos denominados con esta etiqueta */
.tarjeta h3 {
    /*el atributo margin-top ayuda a establecer la altura de la margen superior */
    margin-top: 10px; 
    /*El atribu color permite cambiar el color del texto*/
    color: blue;
    
}

/*el selector .tarjeta p sirve para aplicar cambios a todos los elementos denominados con esta etiqueta  */
.tarjeta p {
    /* font-size estable el tamaño de la letra */
    font-size: 0.9em; 
    /*el atributo line-height define el espacio de la linea*/
    line-height: 1.5; 
    /*El atribu color permite cambiar el color del texto*/
    color: deeppink;
}